---
layout: page
permalink: /about/
title: About Us
subtitle:
exclude_from_nav: false
masthead-img: false
masthead-img-pat: false
author: Albert
date:   2016-01-01 12:00:01
comments:
share:
---
<p>
<strong>HelloABQ!</strong> is a clothing collection designed by local artist Albert Lozoya. "T-shirts are a personal billboard for people to express themselves", says Albert Lozoya. He explains that graphic T-shirts are a bold proclamation of who you are — as well as what you believe in. Take pride and join  Albuquerque by wearing  <em><strong>"HelloABQ!"</strong></em> clothing.</p>


<p>
For more information and inquiries  please contact us below.
</p>
​
{% include sections/aboutus.html %}
<!-- {% include map.html %} -->
