<div class="banner-container">
<a href="#apparel" title="Shop ABQ Clothing and Merch Now!"><img class="banner-hero" alt="Hello ABQ!" src="/img/slider1.jpg" border="0" /></a>
</div>

<div class="banner-container-mobile">
<a href="#apparel" title="Shop ABQ Clothing and Merch Now!"><img class="banner-hero" alt="Hello ABQ!" src="/img/slider1-mobile.png" border="0" /></a>
</div>


<section id="features" class="section parallax">

<div class="container row-80">
 
<a name="features"></a>
 
    <div class="row features clearfix">
      <div class="feature col-sm-4">
        <div class="inner outline">
          <i><img src="/img/free-shipping.jpg" alt="FREE Shipping"></i>
          <h3 class="title">FREE SHIPPING!</h3>
          <h4 class="sub-title">No Minimum Purchase.</h4>
          <p>Limited to the United States Only.</p>
        </div>
      </div>
      
      
      <div class="feature col-sm-4">
        <div class="inner outline">
          <i><img src="/img/markets.jpg" alt="Local Markets"></i>
          <h3 class="title">Local Markets</h3>
          <h4 class="sub-title">Stop By, Say "Hello!"</h4>
          <p>Find us at local events and markets.</p>
        </div>
      </div>
      
      
      <div class="feature col-sm-4">
        <div class="inner outline">
          <i><img src="/img/safe-secure-payments.jpg" alt="Safe and Secure Payments"></i>
          <h3 class="title">Safe &amp; Secure</h3>
          <h4 class="sub-title">Payments by Stripe.</h4>
          <p>We Accept All Major Credit Cards.</p>
        </div>
      </div>
      
    </div>
  </div>
</section>
