<!-- Section styles are 'section' 'section alt' 'section color' 'section black' 'section gradient' with the following helper classes for bg images 'cover' 'tile' 'parallax' 'fullscreen' -->
<!-- Hero layout classes are 'no-image' 'image-tagline' 'image-center' 'image-left' 'image-right' -->
<section id="hero" class="jumbotron section no-image">
  <div class="container">
    <div class="hero-div">
  <a href="#features"><img class="hero-logo" alt="Hello ALbuquerque!" src="/img/hello-abq-logo.png" border="0"></img></a>
    </div> 
     
  </div>
</section>
