<link rel="stylesheet" type="text/css" href="/css/components/slider.css"/>

<section id="slider-carousel" class="section white carousel slide slider" data-ride="carousel" style="overflow: hidden; width: 100%;">
  <div class="container row-90 text-center">
    <ol class="carousel-indicators">
      <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#slider-carousel" data-slide-to="1"></li>
      <li data-target="#slider-carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner row-90 text-left"><!-- slides -->
    
      <div class="item active">
          <a href="#features" title=""><img src="/img/slider1.jpg" alt="Slide"></a>
      </div>



      <div class="item">
          <a href="#features" title=""><img src="/img/slider0.jpg" alt="Slide"></a>
      </div>
      
      
      
            <div class="item">
          <a href="#features" title=""><img src="/img/slider1.jpg" alt="Slide"></a>
      </div>
      
      
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#slider-carousel" data-slide="prev">
      <span class="fa fa-angle-left"></span>
    </a>
    <a class="right carousel-control" href="#slider-carousel" data-slide="next">
      <span class="fa fa-angle-right"></span>
    </a>
  </div> <!-- end carousel2 -->
</section>
